 
.ProductDetails {
            display: none;
        }

        .Product img {
            width: 150px;
            height: 150px;
            border-radius: 20px;
            box-shadow: 100px 50px 20px #aaa;
        }

        .ProductName {
            font-weight: bold;
        }

        .ProductPrice {
            font-style: italic;
        }

        .ProductPrice:before {
            content: " - ";
        }

        .Product {
            text-align: center;
            width: 150px;
            margin: 0px 20px;
            float: left;
            cursor: pointer;
        }

        .Product:hover .ProductDetails {
            display: block;
        }
