 
.ProductDetails {
    display: none;
}
.ProductContainer {
    display: flex;              
    justify-content: center;   
    gap: 40px;                  
    flex-wrap: wrap;            
    margin-top: 20px;
}

.Product img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #aaa;
}

.ProductName {
    font-weight: bold;
}

.ProductPrice {
    font-style: italic;
}


.ProductPrice:before {
    content: " - ";
}


.Product {
    text-align: center;
    width: 150px;
    margin: 0px 20px;
    float: left;
    cursor: pointer;
}


.Product:hover .ProductDetails {
    display: block;
}


.menu {
    width: 200px;
    font-family: Arial, sans-serif;
}

.menu-title {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 0 10px 0;
    border-radius: 5px;
}


.menu ul {
    list-style: disc; 
    padding-left: 20px;
    margin: 0;
}


.menu ul li {
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
}


.menu ul li:hover {
    background-color: yellow;
}
